body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
background-color :#0f172a;
justify-content:center;
height:100vh;
color:whitesmoke;
align-items:center;
display:flex;
}

.project_container{
    background-color:rgba(255, 255, 255, 0.03) ;
    padding: 30px;
    border-radius: 15px;
    text-align:center;
    min-height:250px;




}
p{
    color:#a5a6d1

}
.date-input{
    padding : 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.03);
    color: white;
    width: 80%;
    border-width: 1px;
    border-color: #6366f1;
}
.fetch-result{
    background-color: #6366f1;
    color: white;
    margin-top: 10px;
    padding: 10px;
    width:40%;
    border-width: 0px;
    border-radius: 5px;

}



